
body{
  margin: 0;
  padding: 0;
}
.app{
 margin: auto;
 justify-content: center;
 text-align: center;
}
.inp{
width: 40%;
height: 30px;
margin: 10px;
padding: 10px;
border-radius: 10px;
}
.date{
  height: 30px;
margin: 10px;
padding: 10px;
border-radius: 10px
}
.time{
  height: 30px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px
}
.btn{
width: 100px;
height: 60px;
margin: 10px;
padding: 20px;
border-radius: 10%;
background-color: aqua;
}
.btn-ed{
    width: 100px;
    height: 60px;
    margin: 10px;
    padding: 20px;
    border-radius: 10%;
    background:rgb(64, 136, 64);
    
}
.todos{
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  padding: 5px;
 min-width:50%;
 width: fit-content;
  min-height: 40px;
  height: fit-content;
  border: #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.tododata{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left:5%;
  margin-right:5%;
  width: 40%;

}
.tododate{
  display: flex;
  flex-direction: row;

}
.todotime{
  display: flex;
  flex-direction: row;
  margin-left:5%;

}
.btn-submit{
margin-left: auto;
width: 80px;
padding: 5px;
background:rgb(151, 71, 71);
color: white;
}
.btn-edit{
  margin-left: 1%;
  padding: 5px;
  width: 80px;
  background:rgb(64, 136, 64);
  color: white;


}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}